  <ul class="breadcrumb">
    <li><a href="/">Inicio</a></li>
    <li><a href="/trades">Empresas</a></li>
    <li class="active">Lista</li>
  </ul>
  <%= render 'shared/flash.html.erb' %>
  <h2 class="title-panel"><%= @title_main %></h2>
  <div class="button-rigth-action">
   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
   <i class="glyphicon glyphicon-upload"></i> Subir archivos</button>
  </div>
  <table class="table table-striped table-hover ">
    <thead>
    <tr>
      <th>Archivo</th>
      <th class="table-center-text">Eliminar</th>
    </tr>
    </thead>
    <tbody>
    <tr>
  <tbody>
    <% @soft_updates.each do |update| %>
      <tr>
        <td><%= update.name %></td>
        <td width="140px">
        <%= link_to 'Eliminar',update, method: :delete, data: { confirm: 'Está seguro que desea eliminar está versión?' } %>
            </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog media">
    <div class="modal-content media">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body">
   <%= form_for @soft_update,:html => {:multipart => true,:class => "form"} do |f| %>
         <div class="fileUpload btn btn-primary">
    <span>Elegir archivos...</span>
        <%= f.file_field :name, class: 'upload'%>
        </div>
        </div>
          <div class="btnsub">
           <%= f.submit "Subir archivos", :class => 'btn btn-primary pull-right upload' %>
          </div>
        <% end %>   <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
