  <ul class="breadcrumb">
    <li><a href="/">Inicio</a></li>
    <li><a href="/trades">Empresas</a></li>
    <li class="active">Lista</li>
  </ul>
  <%= render 'shared/flash.html.erb' %>
  <h2 class="title-panel"><%= @title_main %></h2>
  <div class="button-rigth-action">
    <%= link_to 'Subir nueva actualizaci칩n', new_soft_update_path, { :class=>"btn btn-primary" } %>
  </div>
  <table class="table table-striped table-hover ">
    <thead>
    <tr>
      <th>Archivo</th>
      <th class="table-center-text">Eliminar</th>
    </tr>
    </thead>
    <tbody>
    <tr>
  <tbody>
    <% @soft_updates.each do |update| %>
      <tr>
        <td><%= update.name %></td>
        <td width="140px">
        <%= link_to 'Eliminar',update, method: :delete, data: { confirm: 'Est치 seguro que desea eliminar est치 versi칩n?' } %>
            </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>