  <div class="nav-side-menu">
  	<ul class="nav navbar-nav navul">
  	  <% @emisiones_rel.group_by(&:trade).each do |trade, emission| %>
      <% open = false %>
      <% unless @emission.nil?
          open = true if trade.id == @emission.trade.id
        end %>
      <li class="dropdown dropdown-up <%= 'open' if open %>">
    		 	<a href="#" aria-expanded="<%= 'true' if open %>" class="dropdown-toggle">
            <span class="glyphicon glyphicon-align-justify glyfloat"></span><%= trade.name %> <b class="caret"></b>
          </a>
        		<ul class="dropdown-menu dropdown-inter">
        		  <% emission.each do |emission| %>
                <li class="interlink"><span class="glyphicon glyphicon-record"></span><a href="/uploads/<%= emission.id %>" class="link_to"><%= emission.name %></a></li>
                <div class="separ"></div>
             <% end %>
            </ul>
      <% end %>
      </li>
   </ul>
</div>

<style>
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  .dropdown-menu {
      margin-top: 0px;
  }
</style>


