<ul class="breadcrumb">
    <li><a href="/">Inicio</a></li>
    <li class="active">Contenidos</li>
  </ul>
  <%= render 'shared/flash.html.erb' %>
  <h2 class="title-panel"><%= @emission.trade.name %> - <%= @emission.name %></h2>
  <div class="button-rigth-action">
   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
   <i class="glyphicon glyphicon-upload"></i> Subir archivos</button>
  </div>
  <div class="btn-group btn-group-justified">
  <a href="#" class="btn btn-default" id="edit">Editar</a>
  <a href="#" class="btn btn-default" id="delete">Eliminar</a>
</div>

<!-- Editar -->
  <%= form_tag '/uploads_up', :id => 'formedit', method: :put do %>
   <%= hidden_field_tag :emission_id, @emission.id%>
      <% if @uploads.empty? %>
                <h5 id="no-media">No hay contenidos para esta emisión</h5>
              <% else %>
              <div class="sortable">
       <% @uploads.each do |upload| %>
    <div class="list-sort" data-id="<%= upload.position %>">
      <%= hidden_field_tag "upload[][position]", upload.position, :id =>"position#{upload.id}", class: 'list-position' %>
      <span class="move glyphicon glyphicon-move"></span>
      <span class="tx"><img src="<%= upload.name %>" witdth="100px" height="60px"></span>
      <span class="tx"><%=label_tag 'Inicio', nil, class: 'small_label' %><%= text_field_tag "upload[][start_publish]", upload.start_publish, :id =>"start_publish#{upload.id}" %></span>
      <span class="tx"><%=label_tag 'Fin', nil, class: 'small_label'%><%= text_field_tag "upload[][end_publish]", upload.end_publish, :id =>"end_publish#{upload.id}" %></span>
      <span class="tx"><%=label_tag 'Duración', nil, class: 'small_label'%><%= text_field_tag "upload[][time_to_air]", upload.time_to_air, :id =>"time_to_air#{upload.id}" %></span>
      <span class="txcheck"><%= hidden_field_tag "upload[][contents_contents]", upload.id %></span>
    </div>
    <script type="text/javascript">
 $(document).ready(function(){
  $(function () {
    $('#start_publish<%=upload.id %>').datetimepicker({
      format: 'DD/MM/YYYY H:mm'
      });
        });
    $(function () {
    $('#end_publish<%=upload.id %>').datetimepicker({
      format: 'DD/MM/YYYY H:mm'
      });
        });
        $(function () {
    $('#time_to_air<%=upload.id %>').datetimepicker({
      format: 'mm'
      });
        });
 });
</script>
    <% end %>
<% end %>
  <div class="actions">
            <%= submit_tag "Guardar", id: "save", class: "btn btn-primary pull-right", disabled: @uploads.empty? %>
          </div>
<% end %>
 </div>

<!-- Fin Editar-->

<!--Eliminar -->
    <%= form_tag '/uploads_delete', :id => 'formdelete', method: :delete do %>
      <% if @uploads.empty? %>
                <h5 id="no-media">No hay contenidos para esta emisión</h5>
              <% else %>
              <div class="sortable2">
       <% @uploads.each do |upload| %>
      <div class="list-sor">
      <span class="tx"><img src="<%= upload.name %>" witdth="100px" height="60px"></span>
      <span class="tx"><%=label_tag 'Inicio', nil, class: 'small_label' %><%= upload.start_publish %></span>
      <span class="tx"><%=label_tag 'Fin', nil, class: 'small_label' %><%= upload.end_publish %></span>
      <span class="tx"><%=label_tag 'Duración', nil, class: 'small_label' %><%= upload.time_to_air %></span>
      <span class="txcheck"><%= check_box_tag "upload_contents[]", upload.id %></span>
    </div>
    <% end %>
<% end %>
 <div class="actions">
            <%= submit_tag "Eliminar", id: "delete", class: "btn btn-danger pull-right", disabled: @uploads.empty? %>
            </div>
<% end %>
 </div>
<!-- Fin Eliminar -->

<!-- Subir Archivos -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog media">
    <div class="modal-content media">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body">
   <%= form_for@upload,:html => {:multipart => true,:class => "form"} do |f| %>
	 <%= hidden_field_tag :emission_id, @emission.id%>
      <div class="form-group med">
      <%= f.label :start_publish, 'Inicio', :class => 'col-lg-2 control-label' %>
        <div class="col-lg-10">
        <%= f.text_field  :start_publish, class: 'form-control' %>
        </div>
        </div>
        <div class="form-group med">
        <%= f.label :end_publish, 'Fin', :class => 'col-lg-2 control-label' %>
        <div class="col-lg-10">
        <%= f.text_field   :end_publish, class: 'form-control' %>
        </div>
        </div>
         <div class="form-group">
         <div class="fileUpload btn btn-primary">
		      <span>Elegir archivos...</span>
        <%= f.file_field :name, class: 'upload'%>
        </div>
        </div>
          <div class="btnsub">
           <%= f.submit "Subir archivos", :class => 'btn btn-primary pull-right upload' %>
          </div>
        <% end %>
      </div>
      <div class="loading" style="display: none">
    	  Loading…

      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!-- Fin Subir Archivos -->
<script type="text/javascript">
var ready, set_positions;

set_positions = function(){
    // loop through and give each task a data-pos
    // attribute that holds its position in the DOM
    $('.list-sort').each(function(i){
        $(this).attr("data-pos",i+1);
        $('').val(i);
    });
    $('.list-position').each(function(i){
        $(this).val(i+1);
    });
}

ready = function(){

    // call set_positions function
    set_positions();

    $('.sortable').sortable();

    // after the order changes
    $('.sortable').sortable().bind('sortupdate', function(e, ui) {
        // array to store new order
        updated_order = []
        // set the updated positions
        set_positions();

        // populate the updated_order array with the new task positions
        $('.list-sort').each(function(i){
            updated_order.push({ id: $(this).data("id"), position: i+1 });
        });

        $("#formedit").submit(function(e){
        data: { order: updated_order }
    });

    });
}

$(document).ready(ready);
/**
 * if using turbolinks
 */
$(document).on('page:load', ready);
</script>

<script type="text/javascript">
 $(document).ready(function(){
  $(function () {
    $('#upload_start_publish').datetimepicker({
      format: 'DD/MM/YYYY H:mm'
      });
        });
    $(function () {
    $('#upload_end_publish').datetimepicker({
      format: 'DD/MM/YYYY H:mm'
      });
        });

    $("#formdelete").hide();
 });

 $("#edit").click(function(){
    $("#formdelete").hide();
    $("#formedit").show();
});

$("#delete").click(function(){
  event.preventDefault();
    $("#formdelete").show();
    $("#formedit").hide();
});
</script>



<script type="text/javascript">
 $(document).ready(function(){
$("input[name='commit']").on("click", function(){
    $('.form').replaceWith('<div id="loading"><img src="/assets/Preloader_3.gif" class="lod">\
    	</br>Subiendo los archivos.</br>Aguarde un instante.</div>').show();
    $(".form").submit();
});
 });
</script>
